/* question no 2 */
/* .mainconatiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid blue;

}
.mainconatiner img{
    width: 100px;

}
.mainconatiner div{
    border: 1px solid orange;
} */